

#offcanvasBottom {
  height: 300px;
  background: rgba(255, 246, 246, 0.858);
}
#portfolio-filter-all{
  padding:5px 13px 5px 13px ;
  margin: 0 10px 0 10px;
  list-style: none;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
}

#portfolio-filter-all:hover{
  color: #fff;
  background: #5c9f24;
  padding: 5px 13px 5px 13px;
  border-radius: 5px;
  cursor: pointer;
}
.filter{
  position: sticky;
  top: 4.9rem;
  z-index: 3;
  background-color: white;
  padding-top: 10px;
}
.search{
  position: sticky;
  top: 7.7rem;
  z-index: 2;
  background-color: white;
}

.offcanvas-body ul{
  margin-bottom: -10px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
.mobile a {
  color: black;
}
.mobile li {
  padding: 7px 5px;
}
.mobile li:hover {
  color: black;
  text-decoration: underline;
}
.mobile li:last-child {
  margin-left: -10px;
}
.user-container {
  height: auto;

  display: flex;
  gap: 10px;
  padding: 10px;
  margin-top: -2rem;
}
.user-cart {
  height: auto;
  width: 100%;
  padding-top: 5px;
  border-radius: 10px 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.user-details {
  height: 380px;
  padding: 10px;
  width: 100%;
  position: sticky;
  top:5.6rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 border-radius: 20px;
  padding-bottom: 15px;
}
.user-details-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px 
}
.cart-card {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding: 9px;
  display: flex;
  gap: 10px;
}
.cart-card img {
  width: 150px;
  height: 150px;
  border-radius: 10px 0 0 10px;
}
.edit-cart {
  display: flex;
  width: 340px;
  justify-content: space-between;
}
.edit-cart-button {
  display: flex;
}

.order{
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  margin: 10px;
}
.portfolio-wrap{
  height: 250px ;
}
.perfume-div{
 display: flex;
 overflow-x: auto;
 gap: 10px;
}
.perfume-div::-webkit-scrollbar {
 display: none;
}

.direction-div{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -10rem;
  z-index: 1;
}
.direction{
  background-color: rgba(136, 134, 133, 0.59);
  border-radius: 100%;
  color: white;
}

@media (max-width: 768px) {
  .user-container {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 10px;
    margin-top: -2rem;
  }
  .edit-cart {
    display: flex;
    width: 240px;
    justify-content: space-between;
  }
  .user-details {
    height: auto;
    padding: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
    position: static;
  }
  .user-details-div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }

  .portfolio-wrap{
    height: auto;
  }
  .filter-div{
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    font-size: small;
  }
  .perfume-div{
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
    gap: 10px;
   }
   .perfume-div .portfolio-item {
    flex: 0 0 calc(50% - 5px);
  }
   .perfume-div::-webkit-scrollbar {
     display: none;
   }  
}

@media (max-width:482px){
  .direction-div{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -8rem;
    z-index: 1;
  }
  .search{
    position: sticky;
    top: 7.7rem;
    z-index: 2;
    background-color: white;
  }
  .cart-card {
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 9px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    width: 90%;
  }
  .edit-cart {
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
  }
  .cart-card img {
    width: 100%;
    height: 230px;
    border-radius: 5px 5px 0px 0px;
  }
  .portfolio-wrap-2{
    height: 180px;
  }
  .portfolio-wrap-2 img{
    height: 180px;
  }
 .portfolio-wrap-2 .portfolio-links{
    display: flex;
    margin-left: -1.5rem;
  }
  .portfolio-wrap-2 .portfolio-info p{
    display: none;
  }
  .portfolio-wrap-2 .portfolio-info h4{
    font-size: xx-small;
  }
  .portfolio-wrap-2 .portfolio-info h5{
    font-size: 10px;
    /* display: none; */
  }
}