#offcanvasBottom{
    height: 300px;
    background: rgba(255, 246, 246, 0.858);
  
}
.mobile a{
    color: black;
}
.mobile li{
    padding: 7px 5px; 
}
.mobile li:hover{
    color: black;
    text-decoration: underline;
}
.mobile li:last-child{
    margin-left: -10px ;
}